body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

.App {
    text-align: center;
    font-size: 100px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
    text-decoration: none;
}

.App-link:hover {
    color: azure;
    text-decoration: underline;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

#images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#images-child {
    height: 40vh;
    width: 10vw;
    margin-top: 5vh;
    justify-content: center;
}

.images-text{
    color: white;
    font-size: clamp(2rem, 3vw, 3rem);
    font-family: "Ibarra Real Nova", serif;
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    padding-right: 10vw;
    justify-content: center;
    margin-top: 20vh;
}



#images-child+#images-child {
    margin-left: 100px;
}

.menu-item {
    color: white;
    font-size: clamp(2rem, 5vw, 5rem);
    font-family: "Ibarra Real Nova", serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

.menu-text {
    color: white;
    font-size: clamp(2rem, 3vw, 3rem);
    font-family: "Ibarra Real Nova", serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    padding-right: 10vw;
    transition: opacity 400ms ease;
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
}

#home-button{
    position: relative;
    color: white;
    font-size: clamp(2rem, 3vw, 3rem);
    font-family: "Ibarra Real Nova", serif;
    text-decoration: none;

}

#menu-items:hover>.menu-item {
    opacity: 0.3;
}

#menu-items:hover>.menu-item:hover {
    opacity: 1;
}

#menu-background-pattern {
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%,
            transparent 9%);
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

#menu-background-image {
    background-image: url("https://img.freepik.com/premium-photo/swimming-pool-underwater-sport-background_559531-10516.jpg?w=2000");
    background-size: 110vmax;
    height: 100%;
    left: 0px;
    opacity: 0.15;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
    width: 100%;
    filter: blur(4px);
    z-index: 0;
}

#menu-items:hover~#menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

.NavBar {
    background-color: black;
    color: white;
}